<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Ürün Ekle</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="productAddForm">
                    <div class="mb-3">
                        <label for="name">Ürün adı</label>
                        <div class="form-group">
                            <input type="text" id="name" formControlName="name" class="form-control"
                                placeholder="Ürün adı">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="price">Fiyat</label>
                        <div class="form-group">
                            <input type="number" id="price" formControlName="price" class="form-control"
                                placeholder="Fiyat">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="categoryId">Kategori</label>
                        <div class="form-group">
                            <input type="number" id="categoryId" formControlName="categoryId" class="form-control"
                                placeholder="Kategori">
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
            </div>
        </div>
    </div>
</div>